name: CD
on:
  workflow_run:
    workflows: [ "CI" ]
    types: [ completed ]
jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup kubectl
      uses: azure/setup-kubectl@v3
    - name: Auth cluster
      run: |
        mkdir -p $HOME/.kube
        echo "${KUBECONFIG_CONTENT}" > $HOME/.kube/config
      env:
        KUBECONFIG_CONTENT: ${{ secrets.KUBECONFIG_CONTENT }}
    - name: Deploy namespace and services
      run: kubectl apply -f deploy/k8s
    - name: Deploy green
      run: kubectl apply -f deploy/k8s/deployment-green.yaml
    - name: Shift traffic to green 80%
      run: kubectl apply -f deploy/istio/virtualservice-80-20.yaml
    - name: Verify health
      run: kubectl rollout status deploy/api-green -n prod
